@page
@model Grupp3_Elevator.Pages.Elevator.ElevatorDetailsModel
@{

}

<div class="container">
    <h1 class="mb-4">
        @Model.Elevator.Name
        <a asp-page="/Elevator/Index" class="btn btn-primary">Return</a>
    </h1>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table m-2">
                        <tr>
                            <th>Name:</th>
                            <td>@Model.Elevator.Name</td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td>@Model.Elevator.Status</td>
                        </tr>
                        <tr>
                            <th>Door Status:</th>
                            <td>@Model.Elevator.DoorStatus</td>
                        </tr>
                        <tr>
                            <th>Current Level:</th>
                            <td>@Model.Elevator.CurrentLevel</td>
                        </tr>
                        <tr>
                            <th>Target Level:</th>
                            <td>@Model.Elevator.TargetLevel</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body d-flex">
                    <div class="card-group gap-1 p-2 flex-column-reverse mx-5">
                        @for (int i = Model.Elevator.MinLevel; i < Model.Elevator.MaxLevel + 1; i++)
                        {
                            <form method="post" asp-page-handler="ChangeLevel" asp-route-elevatorId="@Model.Elevator.Id" asp-route-targetLevel="@i">
                                <button type="submit" class="btn btn-primary">@i</button>
                            </form>
                        }
                    </div>
                    <div class="card-group gap-2 p-1 flex-column justify-content-center">
                        <form method="post" asp-page-handler="OpenDoors" asp-route-elevatorId="@Model.Elevator.Id">
                            <button type="submit" class="btn btn-success">Open doors</button>
                        </form>
                        <form method="post" asp-page-handler="CloseDoors" asp-route-elevatorId="@Model.Elevator.Id">
                            <button type="submit" class="btn btn-danger">Close doors</button>
                        </form>
                        <form method="post" asp-page-handler="ResetElevator" asp-route-elevatorId="@Model.Elevator.Id">
                            <button type="submit" class="btn btn-primary">Reset elevator</button>
                        </form>
                        <form method="post" asp-page-handler="TurnOnElevator" asp-route-elevatorId="@Model.Elevator.Id">
                            <button type="submit" class="btn btn-success">Turn On</button>
                        </form>
                        <form method="post" asp-page-handler="TurnOffElevator" asp-route-elevatorId="@Model.Elevator.Id">
                            <button type="submit" class="btn btn-danger">Turn Off</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mb-4">
        Errands
        <a asp-page="/Errand/ErrandNew" asp-route-elevatorId="@Model.Elevator.Id" class="btn btn-success">New</a>
    </h1>
    <div class="card">
        <table class="table">
            <tr class="text-center">
                <th class="col-2">Title</th>
                <th class="col-4">Description</th>
                <th class="col-1">Status</th>
                <th class="col-1">Last Edited</th>
                <th class="col-2">Technician</th>
                <th class="col-1">Comments</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
            </tr>
            @foreach (var errand in Model.Errands)
            {
                <tr class="text-center">
                    <td class="col-2">@errand.Title</td>
                    <td class="col-4">@errand.Description</td>
                    <td class="col-1">@errand.Status</td>
                    <td class="col-1">@errand.LastEdited.Date.ToString("d")</td>
                    <td class="col-2">@errand.Technician.Name</td>
                    <td class="col-1">@errand.Comments.Count()</td>
                    <td class="col-1"><a asp-page="/Errand/ErrandDetails" asp-route-elevatorId="@Model.Elevator.Id" asp-route-errandId="@errand.Id" class="btn btn-primary">Select</a></td>
                    <td class="col-1"><a asp-page="/Errand/ErrandEdit" asp-route-elevatorId="@Model.Elevator.Id" asp-route-errandId="@errand.Id" class="btn btn-success">Edit</a></td>
                </tr>
            }
        </table>
    </div>
</div>
