@page
@model Grupp3_Elevator.Pages.Elevator.IndexModel
@{
}

<h1>Elevators</h1>

<div class="container mb-5">
    <div class="row">
        @foreach (var elevator in Model.ElevatorsTwin)
        {
            <div class="col-3 p-3 border bg-transparent text-center">
                <h5 class="card-title">@elevator.Name</h5>
                <p class="card-text">Status: @elevator.Status</p>
                <p class="card-text">Door Status: @elevator.DoorStatus</p>
                <p class="card-text">Level: @elevator.CurrentLevel - @elevator.TargetLevel</p>
                <a asp-page="/Elevator/ElevatorDetails" asp-route-elevatorId="@elevator.Id" class="btn btn-primary">Select</a>
            </div>
        }
    </div>
</div>

