@page
@model Grupp3_Elevator.Pages.Elevator.IndexModel
@{
}

@*<div class="container mb-5">
    <div class="row">
        @foreach (var elevator in Model.ElevatorsTwin)
        {
            <div class="col-3 p-3 border bg-transparent text-center">
                <h5 class="card-title">@elevator.Name</h5>
                <p class="card-text">Status: @elevator.Status</p>
                <p class="card-text">Door Status: @elevator.DoorStatus</p>
                <p class="card-text">Level: @elevator.CurrentLevel - @elevator.TargetLevel</p>
                <a asp-page="/Elevator/ElevatorDetails" asp-route-elevatorId="@elevator.Id" class="btn btn-primary">Select</a>
            </div>
        }
    </div>
</div>

<div>---------------------------------------------------------------------------</div>

<div class="container">
    <div class="row d-flex justify-content-center gap-3">
        @foreach (var elevator in Model.ElevatorsTwin)
        {
            <div class="col-3 card p-2">
                <h5 class="card-title">@elevator.Name</h5>
                <p class="card-text">Status: @elevator.Status</p>
                <p class="card-text">Door Status: @elevator.DoorStatus</p>
                <p class="card-text">Level: @elevator.CurrentLevel - @elevator.TargetLevel</p>
                <a asp-page="/Elevator/ElevatorDetails" asp-route-elevatorId="@elevator.Id" class="btn btn-primary">Select</a>
            </div>
        }
    </div>
</div>

<div>---------------------------------------------------------------------------</div>*@

<section>
    <div class="container">
        <h1 style="margin-left: 35px">Elevators</h1>
        <div class="d-flex justify-content-center gap-3 flex-sm-wrap mt-3">
            @foreach (var elevator in Model.ElevatorsTwin)
            {
                <div class="card shadow mb-2 bg-light text-capitalize m-0 p-0" style="width: 17rem;">
                    <img class="card-img-top" src="/images/elevator.jpg" alt="elevator image">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-0">@elevator.Name</h5>
                    </div>
                    <div class="col">
                        <div class="p-1 m-0 row d-flex justify-content-evenly">
                            <div class="col">Status:</div>
                            <div class="col">@elevator.Status</div>
                        </div>
                        <div class="p-1 m-0 row d-flex justify-content-evenly">
                            <div class="col">Door Status:</div>
                            <div class="col">@elevator.DoorStatus</div>
                        </div>
                        <div class="p-1 m-0 row d-flex justify-content-evenly">
                            <div class="col">Level:</div>
                            <div class="col">@elevator.CurrentLevel - @elevator.TargetLevel</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a asp-page="/Elevator/ElevatorDetails" asp-route-elevatorId="@elevator.Id" class="card-link btn btn-primary d-flex float-end">Select</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


