@page
@model Grupp3_Elevator.Pages.Errand.ErrandDetailsModel
@{
}
<section>
    <div class="container">
        <h1 class="mb-5">
            Errand Title
                <a asp-page="/Elevator/ElevatorDetail" asp-route-elevatorId="" class="btn btn-primary">Return</a>
                <a asp-page="/Errand/ErrandEdit" asp-route-elevatorId="" asp-route-errandId="@Model.Errand.Id" class="btn btn-success">Edit</a>
            </h1>
        <div class="row mb-5">
            <div class="col-4">
                <div class="container card">
                    <h4>Info</h4>
                    <table class="table">
                        <tr><td>Id: @Model.Errand.Id</td></tr>
                        <tr><td>Title: @Model.Errand.Title</td></tr>
                        <tr><td>Status: @Model.Errand.Status</td></tr>
                        <tr><td>Last Edited: @Model.Errand.LastEdited</td></tr>
                        <tr><td>Created at: @Model.Errand.CreatedAt</td></tr>
                        <tr><td>Created by: @Model.Errand.CreatedBy</td></tr>
                        <tr><td>Technician: @Model.Errand.Technician.Name</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-8">
                <div class="container card">
                    <h4>Description</h4>
                    <p>
                        @Model.Errand.Description
                    </p>
                </div>
            </div>
@*            <div class="d-flex justify-content-start m-1">
                <a asp-page="/Errand/ErrandEdit" asp-route-errandId="@Model.Errand.Id" class="btn btn-success">Edit</a>
            </div>*@
        </div>
        <div class="col">
            <div class="container card">
                <table class="table">
                    @foreach(var comment in Model.Errand.Comments) 
                    {
                        <tr class="d-flex flex-column">
                            <th>@comment.PostedAt, @comment.Author</th>
                            <td>
                                @comment.Content
                            </td>
                        </tr>
                    }
                </table>
                <div class="mx-auto">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Technican</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Philip</option>
                                <option>Pierre</option>
                                <option>David</option>
                                <option>Andreas</option>
                                <option>Love</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <textarea class="form-control mt-3" id="exampleFormControlTextarea1" placeholder="Write comment here..." cols="70" rows="4"></textarea>
                            <button type="submit" class="mt-3 mb-3 btn btn-primary">Add Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>