@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<div class="chart-container" width="600" height="400">
    <canvas id="myChart"></canvas>
</div>


<div class="row" style="padding-top: 5rem;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Errands</h5>
                <p class="card-text" style="text-align: center;">@Model.ErrandsAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Elevators</h5>
                <p class="card-text" style="text-align: center;">@Model.ElevatorsAmount</p>
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Technichans</h5>
                <p class="card-text" style="text-align: center;">@Model.TechnichansAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Comments</h5>
                <p class="card-text" style="text-align: center;">@Model.CommentsAmount</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, @Html.Raw(Model.ChartJson) );

        });
    </script>
    }

@*@section scripts{
    <script src="~/Chart.js/Chart.js"></script>
    <script>
        var chartdata = @Html.Raw(Json.Serialize(Model.datalist));
        var labels = [];
        var data = [];
        $.each(chartdata, function (index, value) {
            labels.push(value.MyLabel);
            data.push(value.MyData);
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'demo',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: data
                }]
            }
        });
    </script>
}*@




