@page
@model IndexModel

<div class="row" style="padding-bottom: 3rem;">
    <div class="col-sm-6 mb-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Errands</h5>
                <p class="card-text" style="text-align: center;">@Model.ErrandsAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Elevators</h5>
                <p class="card-text" style="text-align: center;">@Model.ElevatorsAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Technicians</h5>
                <p class="card-text" style="text-align: center;">@Model.TechniciansAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Comments</h5>
                <p class="card-text" style="text-align: center;">@Model.CommentsAmount</p>
            </div>
        </div>
    </div>
</div>

<textarea hidden id="elevatorslist">@Model.ElevatorsList</textarea>

<div class="card d-flex flex-row justify-content-around">
        <div class="flex"style="width: 800px;">
            <canvas id="chart"></canvas>
        <script>generateChart()</script>
        </div>
    
</div>
